{% extends 'docsApp/base.html' %}

{% block content %}
    <p class="text-center my-5">Uploaded files</p>
    <div class="mx-5">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">File name</th>
                <th scope="col">Size</th>
                <th scope="col">Date uploaded</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}